.overlay{
    background:  rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.containerCheckout {
    display: flex;
    justify-content: center;

    background: var(--white);
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;

}


.formLogin{
    margin: 2rem;
    width: 80%;
    border: solid 1px var(--gray-dark);
    border-radius: 5px;
}


.formLogin h1 {
    
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--white);

    background: var(--gray-dark);

    padding: 1rem;
}

.formInputs{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
}

.formInputs input{
    margin: 2rem;
    height: 2rem;
    width: 60%;
    border-bottom: solid 2px var(--gray-dark);
}

.formButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formButtons button{
    width: 40%;
    height: 3rem;
    
    margin: 1rem 0;
    border-radius: 5px;

    background: var(--gray-dark);
    color: var(--white);

    font-weight: bold;
    text-transform: uppercase;

}

.close{
    position: absolute;
    top: 1rem;
    right: 2rem;
    background: transparent;
}