
.containerProduct{
    display: flex;
    justify-content: center;

}

.containerProduct > div {
    width: 40%;

    margin-top: 5rem;
}

.productImg{
    width: 100%;
    height: 20rem;

    background: var(--gray-dark);
}

.productSpecification{
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-left: 2rem;
}

.productSpecification h1{
    margin: 0.875rem 0;

}

.productSpecification > span{
    opacity: 0.8;
}

.productChoose{
    margin: 1rem 0;
}

.productChoose > div{
    display: flex;
    justify-content: flex-start;

    margin: 0.3rem 0;
}

.productChoose label{
    font-weight: bold;

    margin-right: 1rem;

    text-align: left;
    width: 6rem;
    font-weight: 700;

}

.productChoose select{
    width: 8rem;

    border: solid 1px var(--gray-dark);
}

.productChoose input{
    width: 8rem;

    border: solid 1px var(--gray-dark);

    margin-bottom: 1rem;
    padding-left: 0.4rem;
    color: var(--gray-dark);
}

.productChoose > div:last-child{
    display: flex;
    justify-content: center;
}

.productSpecification button{
    margin-top: 1rem;
    padding: 1rem;


    background: var(--gray-dark);
    border-radius: 5px;

    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

